:root {
    --player-color: rgb(213, 219, 231);
    --enemy-color: rgb(110, 199, 110);
    --food-color: rgb(185, 79, 79);
    --background-color: rgb(28, 32, 31);
}

/* Set the background color for the entire game */
body {
    margin: 0;
    overflow: hidden;
    background-color: var(--background-color);
}

div {
    margin: 0;
}

canvas {
    display: block;
}

.noCursor {
    cursor:none;
    display: hidden;
}